[Unit]
Description=FlatFinder
After=network.target

[Service]
ExecStart=/root/flatfinder
WorkingDirectory=/root
Type=simple
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target