[Unit]
Description=FlatFinder
After=network.target

[Service]
ExecStart=/root/flat-finder/flatfinder
WorkingDirectory=/root/flat-finder
Type=simple
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target